.container {
    margin: 121px auto;
    width: 445px;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
}

.title {
    margin-top: 80px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.label {
    align-self: flex-start;
    margin-top: 16px;
    color: black;
}

.input {
    width: 250px;
    height: 42px;
    margin-top: 8px;
    border: 0;
    border-radius: 4px;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.05);
    padding-left: 10px;
    outline: 0;
}

.input::placeholder {
    color: #BFBFBF;
}

.login-button {
    width: 250px;
    height: 38px;
    margin-top: 50px;
    color: white;
    border: 0;
    background-color: black;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.signup {
    margin-top: 6px;
    font-size: 0.8rem;
    color: #BFBFBF;
}

.signup-button {
    color: #606060;
}